.company-hub {
    font-family: 'Montserrat', sans-serif;
    &__row {
        display: flex;
        flex-direction: row;
    }
    &__outlet-container {
        width: 100%;
        background: rgba(244, 245, 247, 0.8);
        border-radius: 40px;
    }
}
