nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 4vw;

    .logo-container {
        display: flex;
        max-width: 101px;
    }
    .nav-links-container {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        .nav-link {
            color: black;
            text-decoration: none;
            margin: 0 25px;
            align-self: center;
        }
        .nav-link:hover{
            color: white;
            background: linear-gradient(to right, #3460AD, #34ADAD);
            padding: 0.5em;
            border-radius: 1.5em;
            transition:all 0.3s ease 0s;
        }
        .sign-up {
            color: white;
            padding: 12px 30px 12px 30px;
            border-radius: 30px;
          
        }
    }
}
//this is an example to push the code