.home {
    overflow: hidden;
    position: relative;
    &__branding-image-container {
        position: absolute;
        top: -5vh;
        right: -16vw;
        z-index: -1;
    }
    &__content-container {
        padding: 0 4vw;
    }
    p {
        line-height: 32px;
    }
}