.services-section {
    margin-top: 10vh;
    position: relative;
    .circle {
        border-radius: 50%;
        border: 2px solid;
        &__primary {
            border-color: rgba(236, 159, 5, 0.84);
        }&__secondary {
            border-color: rgba(52, 96, 173, 1);
        }
        &__tertiary {
            border-color: black;
        }
    }
    &__cta {
        position: relative;
        display: grid;
        grid-template-columns: 53ch;
        margin: 4vw;
        h1 {
            font-size: 3.5em;
            color: #3460AD;
            margin-bottom:2vh;
        }
        &__tagline {
            margin: 0;
            color: #EB8D22;
        }
        .circle {
            position: absolute;
            &__primary {
                height: 75px;
                width: 75px;
                top: 55%;
                right: 38%;
            }
            &__tertiary {
                top: 4%;
                right: 4%;
                height: 24px;
                width: 24px;
            }
            &__tertiary:nth-of-type(2) {
                top: 105%;
                left: 4%;
                height: 53px;
                width: 53px;
            }
        }
    }
    .image-container--triangle {
        max-width: 53%;
        position: absolute;
        z-index: -1;
        &.triangle_one {
            top: 8%;
            right: 0;
        }
        &.triangle_two {
            top: 65%;
            left: -2%;
        }
    }
    .card-container {
        align-items: center;
        display: flex;
        justify-content: center;
        .circle {
            position: relative;
            &__secondary {
                border: 8px solid rgba(52, 96, 173, 1);
                bottom: 15vh;
                left: 2%;
                height: 130px;
                width: 130px;
            }
            &__primary {
                height: 35px;
                width: 35px;
                left: 10%;
            }
            &__tertiary {
                height: 35px;
                width: 35px;
                align-self: end;
                right: 35vw;
                top: 15vh;
            }&__secondary {
                &.right {
                    top: 48vh;
                    left: -10vw;
                }
            }
        }
        .card {
            margin-top: 12vh;
            max-width: 55vw;
            border-radius: 30px;
            background: linear-gradient(222.87deg, rgba(236, 159, 5, 0.54) -0.68%, rgba(255, 78, 0, 0.54) 123.82%);
            padding: 5.5vh 5.5vw;
            .row {
                border-radius: 35px;
                display: flex;
                flex-direction: row;
                background-color: white;
                padding: 2vw;
                .image-container {
                    max-width: 23vw;
                }
                h3 {
                    font-size: 2.5em;
                }
            }
        }
        .toggle-card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            top: 20px;
            .toggle-button {
                margin: 0 10px;
                height: 5px;
                width: 50px;
                background: rgba(47, 46, 65, 0.6);
            }
        }
    }
}

.animation {
    -webkit-animation: fadeinout 2s;
    animation: fadeinout 2s;
    opacity: 1;
}
  
@keyframes fadeinout {
  
  50% {
    transform: translateY(-8vh);
    opacity: 0; 
  }
  80% {
    transform: translateY(10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-4vh);
    opacity: 1;
  }
}