.branding-section {
    padding-top: 15vh;
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__narrative {
        h1 {
            font-size: 3.5em;
        }
        h1:nth-of-type(1) {
            margin-bottom:0;
            color: #3460AD;
        }
        h1:nth-of-type(2) {
            margin-top:0;
            color: #EB8D22;
        }
    }
    &__narrative, &__image {
        width: 44%;
    }
    &__image  {
        .image-container {
            position: relative;
            margin: 2vh 4vw;
        }

        .rectangle {
            position: absolute;
            border: 22px solid #EB8D22;
            height: 360px;
            transform: rotate(45deg);
            width: 360px;
            left: 30%;
            z-index: -1;
        }
    }
    &__narrative {
        h1 {
            font-size: 3em;
            color: #3460AD;
            margin-bottom: 3.5vh;
        }
    }
    &__button {
        font-size: 20px;
        background: linear-gradient(to right, #3460AD, #34ADAD);
        border-style: none;
        padding: 13px 22px;
        color: #fff;
        border-radius:2em;
        margin-top:2vh;
    }
}
