.container-dashboard{
    width: 50%;
    height:400px;
    background-color: #fff;
    box-shadow: 0 10px 10px  #4e4b4b;
    border-radius: 20px;
    float: left;
    margin:40px;
}

h2{
    padding: 10px;
    margin-left: 75px;
    color: #6A6D72
}
span{
    color: #3460AD;
}
.smallcontainer{
    width: 40%;
    height: 10%;
    background-color:#3460AD;
    opacity: 0.4;
    border-radius: 8px;
    margin-left: 30px;
    display:flex;
    flex-direction: row;
    gap:10%;
}
button{
    background-color: #fff;
    border: 1.5px solid #3460AD;
    border-radius: 8px;
    padding: 5px ;
    width:100px;
    color: #3460AD;
    float:right;
    margin-top:3px;
    margin-right: 10px;

}
p{
    color:#f4f6f8;
    font-size:16px;
    margin-left: 3px;
    margin-top: 0;
}