.indicator {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 2px 5px 0 0;
    &--busy {
        background: rgba(255, 118, 118, 1);
    }
    &--holiday {
        background: rgb(252, 250, 95);
    }
    &--available {
        background: rgba(60, 238, 174, 1);
    }
}