.status-overview {
    height: 70px;
    width: 352px;
    border-radius: 12px;
    background: rgba(52, 96, 173, 0.06);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    &__status {
        color: rgba(52, 96, 173, 0.63);
        font-weight: 600;
    }
    &__count {
        font-size: 14px;
        color: rgba(52, 96, 173, 1);
    }
    .row {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}